/***************GOOGLE FONT*************************/
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/**********Home***********/
html {
    font-size: 17px;
    height: 100%;
    margin: 0;
    font-family: "Playfair Display", serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(img/Home.webp); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 

.cuerpoinicio .inicio h1 {
    font-size: 2rem;
    height: 10vh;
    width: 100%;
    font-family: "Cinzel", serif;
}

.inicio {
    opacity: 0.9;
    height: 100vh;
    width: 30%;
}

.icono {
    background-color: rgb(33, 32, 31);
    border-radius: 100px;
    border: 3px solid rgb(122, 99, 99);
}

img {
    border-radius: 18px;
    border: 2px solid rgb(0, 0, 0);
}

/************Barra de navegación*********/
nav .menu {
    height: 20vh;
    width: 90%;
    list-style-type: none;
    padding: 0;
    
}

nav .menu li a {
    display: inline-block;
    margin-right: 10px;
    color: #fdfdfd;
    text-decoration: none;
}

/********** Producto destacado ***********/
.principal .producto-destacado h2 {
    padding: 15px;
    height: 40px;
    width: 25%;
    opacity: 0.5;
}

#kerambit, #kukri {
    height: 200px;
}

/********** Todos los productos **********/
.todos-los-productos {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding: 15px;
    margin-bottom: 20px; 
    text-align: center;
   
}

.todos-los-productos ul {
    list-style-type: none;
  
}

/**************FOOTER********************/
footer {
    background: linear-gradient(to right, #030000, #36322e);
    color: #ffffff; 
    padding: 10px; 
    text-align: center;
}

footer ul {
    padding: 0; 
}

footer ul li {
    display: inline; 
    margin-right: 15px; 
}
