/**********Home***********/
html {
    font-size: 16px;
}
body {
    height: 100vh;
    width: 100%;
    background-image: url(Multimedia/Imagenes/Home.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 
.inicio {
    opacity: 0.8;
    height: 100vh;
    width: 30%;
}
.cuerpoinicio > .inicio > h1 {
    font-size: 2rem;
    height: 10vh;
    width: 100%;
}
/************Barra de navegacion*********/
.cuerpoinicio > .inicio > nav > .menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:20vh;
    width: 90%;
    list-style-type: none;
} 
.principal > .producto-destacado > h2 {
    padding: 15px;
    height: 40px;
    width: 25%;
    opacity: 0.5;
}
#kerambit1-img {
    height: 200px;
    width: 150px
}
#kukribronce-img {
    height: 200px;
    width: 150px;
}
.todos-los-productos > h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #eaeaea;
    padding: 15px;
    height: inherit;
    width: inherit;
}
.todos-los-productos > ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
}
footer {
    color: #ffffff;
    height: 250px;
    width: 1500px;
}
hr + footer {
    font-family:Arial, Helvetica, sans-serif;
}
/************Mi Cuenta Gamer Master****************/
.cuenta > h1 {
    font-family: 'Times New Roman', Times, serif;
}
.registrate > h2 {
    font-family:Georgia, 'Times New Roman', Times, serifs;
    color: #181717;
    font-size:3rem;
}
.registrate > .formulario > form > p {
    color: #6a6970;
}
/************Cuchillo de acero al Carbono************/
.cuchillo > .aceroalcarbono > div > h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size:16px;
    font-size: 4em;
    color: #eaeaea;
}
.cuchillo > .aceroalcarbono > div > p {
    font-size: 1.5em;
    color: #eaeaea;
}
.cuchillo > .manejoadecuado > article > div > h2 {
    font-size: 2rem;
    color: #eaeaea;
}
.cuchillo > .manejoadecuado > article > div > p {
    font-size: 1.5rem;
    color: #eaeaea;
}   
#Dagaestilete {
    height: 500px;
    width: 700px;
}
/**********Acerca de Gamer Master Kanives************/
.gamer > h1 {
    font-size: 16px;
    font-size: 4em
}
.master > .informacion > p {
    font-size:1.5em;
    padding: 2px;
    color: #ebf2f9;
}
.master > .informacion > p:nth-child(3) {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: #f3e4d9;
}
#knives > figure > #logo {
    height: 500px;
    width: 500px;
}
/************Tecnica de Afilado**************/
.tecnica > .afilado > h1 {
    font-size: 14px;
    font-size: 3em;
}
.tecnica > .afilado > p {
    font-size: 1.5em;
    padding: 12px;
    color: #eaeaea;
}
.afilar > figure > #Alvor {
    height: 500px;
    width: 500px;
}
.afilar > figure > figcaption {
    color: #000000;
    font-size: 2em;
}
/*************Restauracion de Cuchillos*************/
.restauracion > h1 {
    font-size: 15px;
    font-size: 2.5em;
    color: #eaeaea;
}
.desgaste > .restauracion > div > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(12, 12, 12);
    font-size:1.5rem;
}
.desgaste > .simonaggio > h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eaeaea;
    padding: 20px;
}
.desgaste > .simonaggio > p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellowgreen;
    font-size:1.5rem;
}
.desgaste > .simonaggio > iframe {
    height: 300px;
    width: 560px;
}
/*************Tipos de Modelos**************/
.tipos > h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-size: 3em;
    opacity: 0.5;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Kukri {
    height: 200px;
    width: 350px;
}
.artesanal > .modelos > div > table > tbody > tr > td > p {
    background-color: #000000;
    color: #eaeaea;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Kerambit2 {
    height: 200px;
    width: 350px;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Gut-Knife {
    height: 200px;
    width: 350px;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Daga {
    height: 200px;
    width: 
    350;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Estilete {
    height: 200px;
    width: 350px;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Tanto {
    height: 200px;
    width: 350px;
}
td > p {
    font-size: 1.5rem;
    border: solid rgb(43, 39, 39) 10px;
}
figure > figcaption {
    color: #BE9561;
}
